
Lesson2/data/cifar-100-python/

Lesson2/data/cifar-100-python.tar.gz

Lesson2/data/

Lesson3/train.csv

Lesson3/data/

Lesson4/data/

Lesson4/.ipynb_checkpoints/

Lesson5_segmentation(good_module)/img/

Lesson5_segmentation(good_module)/models

Lesson5_segmentation(good_module)/Unet-resnet34

Lesson5_segmentation(good_module)/Unet-resnet50

Lesson6_NLP_classif/review.xls

Lesson10_emotion_detector/Emotion_recognition/

Lesson10_emotion_detector/img/

Lesson10_emotion_detector/leapGestRecog/

Lesson10_emotion_detector/.ipynb_checkpoints/
